@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-image: url("./marvel.jpg");
    background-repeat: no-repeat;
}
button {
    border-radius: 22px;
    background-color: #bb0b0b;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: bold;
    border-style: none;
    margin: 10px;
    font-size: 1.3em;
    cursor: pointer;
}
h1 {
    font-size: 2.5em;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}
.characters {
    border-radius: 20px;
    border: solid 1px #f2f2f2;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: #fff;
}
.successAdd {
    position: absolute;
    bottom: 20px;
    right: 50%;
    background-color: #3c9136;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.successAdd h2 {
    margin: 0;
}
